body {
  width: 1100px;
}

header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  list-style: circle;
  width: 1100px;
  height: 293px;
}

/* .header__links-list {
  display: flex;
  justify-content: space-between;
  width: 391.4786376953125;
  height: 22.00001335144043;
   margin-left: 50px; 
  background-color: red;

} */
.header__menu {
  background-color: yellow;
}

.header__links-list {
  top: 120px;
  left: 50px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  width: 391.48px;
  height: 22px;
  opacity: 0px;
  list-style: circle;

  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%; 
  letter-spacing: 0%;

  text-underline-position:under;
  background-color: red;
  place-items: center;
  align-items: center;

}

/* 
.header__links-list-item {
  padding-left: 4px;
  padding-top: 2px;
  /* text-align: left;
  text-decoration-skip-ink: none;
  text-underline-position: from-font; 

}
*/
.header__links-list-item_no-bullit {
  list-style: none;
}

.header__logo {
  top: 92px;
  left: 200px;
  gap: 0px;
  width: 137px;
  height: 105px;
  opacity: 0px;
}

.header_address {
  position: relative;
  font-size: 18px;
  text-align: left;
  width: 230px;
  height: 99px;
  left: 193px;
  line-height: 24px; 
  text-underline-position:under;
  font-style: normal;
  padding-left: 200;
}

.cover {
  height: 757px;
  width: 1100px;
  background-image: url('./../images/cover.jpg');
  background-size:cover;
  background-position: center;
  background-size: cover;
  position: relative;
  background-position-x: -140px;

}

.overlay {
  position: absolute;
  top:0;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgb(00 00 00/ 0.4);
  z-index: 1;
}

.cover__title {
   color: white;
  font-family: Raleway;
  font-weight: 800;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.cover__title_1 {
position: absolute;

top: 166px;
left: 50px;
}

.cover__title_2 {
   position: absolute; 
   top: 300px;
   left: 382px;
}

.cover__title_3 {
  position: absolute; 
  top: 435px;
  left: 665px;
}

.cover__title_sub {
  position: absolute; 
  color: white;
  top: 670px;
  left: 50px;
  font-family: Raleway;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0%;
  text-transform: uppercase;
  word-spacing: 19px;
  z-index: 2;
}

.bet__button {
  position: absolute; 
  color: white;
  top: 656px;
  left: 794px; 
  height: 51px;
  width: 256px;
  background-color: rgba(255, 255, 255, 0);
  border: thin solid white;
  font-size: 28px;
  font-family: Raleway;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0%;
  text-transform: uppercase;
  z-index: 2;
}
/*===============================================*/
.lots {
  width: 1052px;
  height: 723px;
  margin-top: 190px;
  margin-left: 24px;
  overflow: hidden;
  position: relative;
  list-style: none;
  display: grid;
  grid-auto-flow:column;
  grid-template-columns: repeat(3, 1f);
  grid-template-rows: 30px, 596px, 100px ;
  grid-template-areas:
  'lots-title lots-title lots-title'
  'lots-list-img-1 lots-list-img-2 lots-list-img-3'
  'lots-more lots-more lots-more';
  row-gap:0px;
}

.lots-title {
  width: 100%;
  height: 36px;
  /* background-color: blue; */
  padding-left: 38px;
  font-size: 28px;
  line-height: 28px;
  letter-spacing:-1px;
}
.lots-list li{
   display: inline-block;
}

.lots-list-img-1 {
  width: 333px;
  height: 596px;
  background-image: url('./../images/card-lot-01.jpg');
  background-size: cover;
  background-position-x: -120px;
}
.lots-list-img-2 {
  margin-left: 22px;;
  width: 333px;
  height: 596px;
  background-image: url('./../images/card-lot-02.jpg');
  background-size: cover;
  background-position-x: -120px;
}
.lots-list-img-3 {
  margin-left: 22px;;
  width: 333px;
  height: 596px;
  background-image: url('./../images/card-lot-03.jpg');
  background-size: cover;
  background-position-x: -120px;
}

.lots-more {
  position: absolute; 
  top: 693px;
  left: 40px;
  text-decoration: underline;
  font-weight:100;
  font-family: Raleway;
font-weight: 400;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;
text-underline-position:under;
}
/*
 lots-list-img-1"
              style="background-image: url('./images/card-lot-01.jpg')"
lots-list-img-2"
              style="background-image: url('./images/card-lot-02.jpg')"


.lots-title {
  width: 100%;
  height: 50px;
  margin-bottom: 25px;
  margin-left: 55px;
  font-size: 28px;
}

.lots-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 18px;
  overflow: hidden;
  list-style: none;
  grid-gap: 7px;
}

.lots-list-img {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  width: auto;
  height: 600px;
  margin-right: 20px;
  padding: 40px 3px 50px 37px;
  text-align: center;
  background-size: cover;
  background-position-x: -120px;
}

.lots-list-title {
  color: white;
  font-size: 19px;
  font-style: bold;
  letter-spacing: 0px;
  text-align: start;
  text-decoration: underline;
  text-transform: uppercase;
}

.lots-list-text {
  display: inline-flex;
  justify-self: end;
  align-items: flex-end;
  align-self: flex-end;
  height: auto;
  margin-right: 27px;
  color: white;
  font-size: 20px;
  text-align: start;
}

.lots-more {
  height: 55px;
  padding-top: 28px;
  padding-left: 60px;
  font-size: 21px;
  text-decoration: underline;
}
/* 
.header_address {
  /* top: 95px;
  left: 810px;
  align-self: end;
  width: 240px;
  height: 98px;
  margin-left: 200px;
  padding-top: 5px;
  opacity: 0px;
  font-size: 18px;
  text-align: left; 
}

.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 110px;
  margin-right: 24px;
  margin-left: 24px;
}

.about__logo {
  left: 47px;
  display: grid;
  place-items: center;
  width: 240px;
  height: 240px;
  margin: auto;
  margin-top: 35px;
  border-radius: 50%;
  background-color: black;
}

.about__logo-image {
  top: 64px;
  left: 46.48px;
  gap: 0px;
  width: 148px;
  height: 114px;
  opacity: 0px;
  text-align: center;
}

.about__title {
  font-family: Raleway;
  font-weight: 700;
  font-size: 28px;
  text-align: left;
  text-transform: uppercase;
}

.about__column_with_text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 449px;
  margin-top: 150px;
}

.about__text {
  display: block;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.about__text p {
  margin-top: 24px;
}

.footer {
  display: inline-grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto;
  justify-content: space-between;
  width: 100%;
  height: 180px;
  margin-top: 180px;
}

.address {
  margin-left: 50px;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  text-align: left;
}

.footer__menu-list {
  text-align: center;
  list-style: none;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  width: 240px;
  height: 48px;
  margin-right: 50px;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
 */
