body {
  width: 1100px;
}

header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  list-style: circle;
  width: 1100px;
  height: 293px;
  position: relative;
}


.header__links-list {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  width: 439px;
  height: 22px;
  list-style: circle;

  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-underline-position:under;
  padding-left: 50px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__logo {
  top: 92px;
  left: 480px;
  position: absolute;
  width: 138px;
  height: 130px;
}

.header_address {
  position: absolute;
  font-size: 18px;
  text-align: left;
  width: 230px;
  height: 99px;
  left: 812px;
  line-height: 24px;
  text-underline-position:under;
  font-style: normal;
  padding-left: 200;
}

.cover {
  height: 757px;
  width: 1100px;
  background-image: url('./../images/cover.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
  background-position-x: -138px;
}

.overlay {
  position: absolute;
  top:0;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgb(00 00 00/ 0.4);
  z-index: 1;
}

.cover__title {
   color: white;
  font-family: Raleway;
  font-weight: 800;
  font-size:99px;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.cover__title_1 {
  position: absolute;
  top: 166px;
  left: 50px;
}

.cover__title_2 {
  position: absolute;
  top: 301px;
  left: 381px;
}

.cover__title_3 {
  position: absolute;
  top: 436px;
  left: 665px;
}

.cover__title_sub {
  position: absolute;
  color: white;
  top: 670px;
  left: 50px;
  font-family: Raleway;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0%;
  text-transform: uppercase;
  /* word-spacing: 20px; */
  word-spacing: 20px;
  z-index: 2;
}

.bet__button {
  position: absolute;
  color: white;
  top: 656px;
  left: 794px;
  height: 51px;
  width: 256px;
  background-color: rgba(255, 255, 255, 0);
  border: thin solid white;
  font-family: Raleway;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0%;
  text-transform: uppercase;
  z-index: 2;
}

.lots {
  width: 1052px;
  height: 723px;
  margin-top: 180px;
  margin-left: 24px;
  overflow: hidden;
  position: relative;
  list-style: none;
  display: grid;
  grid-auto-flow:column;
  grid-template-columns: 1f;
  grid-template-rows: 0px, 596px, 100px ;
  grid-template-areas:
  'lots-title'
  'lots-list'
  'lots-more';
  word-spacing:normal;
}

.lots-title {
  display: flex;
  justify-content: space-between;
  gap: 22px;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  font-size: 28px;
  /* line-height: 33px; */
  letter-spacing:-2px;
}

.lots-list {
  margin-top: 10px;
  width: 100%;
  height: 596px;
  position: relative;

}
 .lots-list li {
   display: inline-block;
} 

 .lots-list-img-1 {
  position: relative;
  width: 333px;
  height: 596px;
  background-image: url('./../images/card-lot-01.jpg');
  background-size: cover;
  background-position-x: -120px;
}

.lots-list-img-2 {
  position: relative;
  margin-left: 22px;
  width: 333px;
  height: 596px;
  background-image: url('./../images/card-lot-02.jpg');
  background-size: cover;
  background-position-x: -120px;
}

.lots-list-img-3 {
  position: relative;
  margin-left: 22px;
  width: 333px;
  height: 596px;
  background-image: url('./../images/card-lot-03.jpg');
  background-size: cover;
  background-position-x: -120px;
} 

.lots-list-img {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  width: auto;
  height: 596px;
  text-align: center;

}

.lots-list-title {
  color: white;
  font-size: 19px;
  font-style: bold;
  letter-spacing: 0px;
  text-align: start;
  text-decoration: underline;
  text-transform: uppercase;
  padding-top: 48px;
  padding-left: 40px;
  padding-right: 35px;
}

.lots-list-text {
  display: block;
  height: auto;
  color: white;
  font-size: 20px;
  text-align: start;
  align-self: center;
  width: 260px;
  padding-bottom: 45px;
}

.lots-more {
  position: absolute;
  top: 703px;
  left: 40px;
  text-decoration: underline;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-underline-position:under;
  z-index: 10;
}

.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 117px;
  margin-right: 24px;
  margin-left: 24px;
}

.about__logo {
  display: grid;
  place-items: center;
  width: 240px;
  height: 240px;
  margin-left: 45px;
  margin-top: 38px;
  border-radius: 50%;
  background-color: black;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  font-family: Raleway;
  font-weight: 700;
  font-size: 28px;
  letter-spacing:-1px;
  text-align: left;
  text-transform: uppercase;
}

.about__column_with_text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 449px;
  margin-top: 140px;
  margin-left: 5px;;
}

.about__text {
  display: block;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.about__text p {
  margin-top: 14px;
  margin-left: 0px;
  width: 693px;
}

.footer {
  display: inline-grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto;
  justify-content: space-between;
  width: 100%;
  height: 180px;
  margin-top: 180px;
}

.footer_address {
  margin-left: 50px;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  text-align: left;
}

.footer__menu-list {
  text-align: center;
  list-style: none;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  width: 240px;
  height: 48px;
  margin-right: 50px;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
